@import '~bulma/css/bulma.css';
.custom-paginator {
  display: flex;
  justify-content: center;
}

.notification.is-primary {
  position: absolute;
  z-index: 1;
}
.searchStyle{
  background-image: url("../../../../assets/dice3.jpg");
  background-size: cover; /*

  /* alte proprietăți de stilizare */
}
