@import '~bulma/css/bulma.css';
.custom-paginator {
  display: flex;
  justify-content: center;
}

.notification.is-primary {
  position: absolute;
  z-index: 1;
}
.searchStyle{
  background-image: url("../../../../assets/dice3.jpg");
  background-size: cover; /* Setează dimensiunea imaginii pentru a acoperi întregul element */
  background-repeat: no-repeat; /* Fă să nu se repete imaginea pe orizontală sau verticală */
  /* alte proprietăți de stilizare */
}
