
@import '~bulma/css/bulma.css';

.disabled {
  background-color:rgb(248, 244, 244)
}
body{
  background-image: url("../../assets/registration2.jpg");
  background-size: cover; /* Setează dimensiunea imaginii pentru a acoperi întregul element */
  background-repeat: no-repeat; /* Fă să nu se repete imaginea pe orizontală sau verticală */
  /* alte proprietăți de stilizare */
}
/*.box{*/
/*  background-color:rgba(0,0,0,0.5)  ;*/
/*}*/
