
@import '~bulma/css/bulma.css';

.disabled {
  background-color:rgb(248, 244, 244)
}
body{
  background-image: url("../../assets/registration2.jpg");
  background-size: contain;
  background-repeat: inherit;
  /*  */
}
/*.box{*/
/*  background-color:rgba(0,0,0,0.5)  ;*/
/*}*/
/*.margins{*/
/*  margin-right: 50rem;*/
/*}*/
/*.columns{*/
/*  margin-left: 0.75rem !important;*/
/*}*/

.my-custom-snackbar {
  margin: 0 !important;
  position: absolute;
  right: 25px;
  top: 60px;
}
