<!--<p>header works!</p>-->
<!--<button  mat-raised-button color="accent" (click)="logout()">Log Out</button>-->
<nav class="navbar is-transparent pb-6">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <i class="fa-solid fa-dice" style="color: #2556ad;"></i>
    </a>
    <div class="navbar-burger" data-target="navbarExampleTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item is-size-5" >
        Home
      </a>
          <hr class="navbar-divider">
      <a class="navbar-item is-size-5" routerLink="/my-profile" >
        My Profile
      </a>
<!--          <a class="navbar-item is-size-5" routerLink="/boardgames">-->
<!--           All boardgames-->
<!--          </a>-->
      <a class="navbar-item is-size-5" routerLink="/collection">
        My Collection
      </a>
          <a class="navbar-item is-size-5" routerLink="/boardGamesSessionList">
            My sessions
          </a>
      <a class="navbar-item is-size-5" routerLink="/friends-list">
        My friends
      </a>
        </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          <p class="control">
            <a class="button is-primary" (click)="logout()">Log Out
              <span class="icon">
                <i class="fas fa-download"></i>
              </span>
            </a>
          </p>
        </div>
      </div>
    </div>
  </div>
</nav>
