<app-header></app-header>
<body>
<br>
 <div *ngIf="currentUser">
<div class="noMargins">
   <div class="tile is-ancestor is-justify-content-center">
     <div class="column is-5 ">
       <div class="box">
   <form #userForm="ngForm">
  <div class="content">
    <div class="field">
      <label class="label">Name:</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="editedUser.lastName" [readonly]="!isEditing" name="lastName" required>
      </div>
      <div class="field" *ngIf="isEditing && userForm.controls['lastName'].hasError('required')">
        <p class="help is-danger">Last name is required.</p>
      </div>
    </div>
    <div class="field">
      <label class="label">Firstname:</label>
      <div class="control">
        <input class="input" type="text" [(ngModel)]="editedUser.firstName" [readonly]="!isEditing" name="firstName" required>
      </div>
      <div class="field" *ngIf="isEditing && userForm.controls['firstName'].hasError('required')">
        <p class="help is-danger">First name is required.</p>
      </div>
    </div>
    <div class="field">
      <label class="label">Username:</label>
      <div class="control">
        <input class="input" type="text" value="{{ currentUser.username }}" disabled>
      </div>
    </div>
    <div class="field">
      <label class="label">Email:</label>
      <div class="control">
        <input class="input" type="email" [(ngModel)]="editedUser.email" [readonly]="!isEditing" name="email" required>
      </div>
      <div class="field" *ngIf="isEditing && userForm.controls['email'].hasError('required')">
        <p class="help is-danger">Email is required.</p>
      </div>
    </div>
    <div class="field">
      <label class="label">Birthdate:</label>
      <div class="control">
        <input class="input" type="date" max="{{maxDate}}" min= "{{minDate}}" [(ngModel)]="editedUser.birthday" [readonly]="!isEditing" name="birthdate" required >
      </div>
      <div class="field" *ngIf="isEditing && userForm.controls['birthdate'].hasError('required')">
        <p class="help is-danger">Birthdate is required.</p>
      </div>

    <div class="field">
      <label class="label">Sex:</label>
      <div class="control">
        <label class="radio">
          <input type="radio" [(ngModel)]="editedUser.gender" [disabled]="!isEditing" name="sex" value="Female" [checked]="editedUser.gender === 'Female'">
          Female
        </label>
        <label class="radio">
          <input type="radio" [(ngModel)]="editedUser.gender" [disabled]="!isEditing" name="sex" value="Male" [checked]="editedUser.gender === 'Male'">
          Male
        </label>
      </div>
    </div>

    <div class="buttons">
      <div class="control">
        <button class="button is-info" (click)="toggleEdit()" *ngIf="!isEditing">Edit</button>
        <button class="button is-info" (click)="saveChanges()" *ngIf="isEditing" [disabled]="!userForm.valid">Save</button>
        <button class="button is-warning" (click)="toggleEdit()" *ngIf="isEditing" >Cancel</button>
      </div>
    </div>
  </div>
  </div>
   </form>
</div>
   </div>
 </div>

 </div>
<!--password change-->

<div class="tile is-ancestor is-justify-content-center">
<div class="column is-5 ">
  <div class="box">
  <h1 class="title is-5">Change password:</h1>
  <form [formGroup]="changePasswordForm"(ngSubmit)="updatePassword()">
<!--  <form (ngSubmit)="updatePassword()">-->
    <div>
      <label class="label">Old Password:</label>
      <div class="control">
      <input class="input" type="password" id="oldPassword" formControlName="oldPassword" name="oldPassword">
    </div>
      </div>
    <div>
      <label class="label">New Password:</label>
      <div class="control">
      <input class="input" type="password" id="password" formControlName="password" name="password">
    </div>
    </div>
    <div>
      <label class="label">Confirm Password:</label>
      <div class="control">
      <input class="input" type="password" id="confirmPassword" formControlName="confirmPassword" name="confirmPassword">
      <div class="field" *ngIf="changePasswordForm.hasError('mismatch')">
        <p class="help is-danger">Passwords do not match.</p>
      </div>
        </div>
    </div>
    <br>
    <button class="button is-info is-small"type="submit">Update Password</button>

    <div class="notification is-info is-light" *ngIf="showNotification">
      <button class="delete" (click)="closeNotification()"></button>
      Password has been updated!
    </div>

    <div class="notification is-info is-light" *ngIf="showErrorNotification">
      <button class="delete" (click)="closeNotification()"></button>
      The old password is not correct. Please try again.
    </div>
  </form>
</div>
</div>
</div>
 </div>
</body>
