
<app-header></app-header>

<body>

<h1>User Profile: </h1>
<div class="hero-body">
  <div class="container">
<!--    <div class="columns">-->
<!--      <div class="column is-4">-->
<!--        <div class="box">-->
<!--          <div class="notification is-info has-text-centered">-->
<!--            <p class="subtitle">Most played games</p>-->
<!--            <div *ngFor="let game of topGames | keyvalue">-->
<!--              <p>{{ game.key }} - {{ game.value }} times played</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <div class="notification is-warning has-text-centered">
            <p class="subtitle">Games owned</p>
            <p class="title is-3">{{noOfBoardGames}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <div class="notification is-danger has-text-centered">
            <p class="subtitle">Number of sessions won</p>
            <p class="title is-3">{{noSessionsWon}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="columns">
      <div class="column is-4">
        <div class="box">
          <div class="notification is-primary has-text-centered">
            <p class="subtitle">Number of sessions played</p>
            <p class="title is-3">{{noSessionsPlayed}}</p>
          </div>
        </div>
      </div>
      <div class="column is-4">
        <div class="box">
          <div class="notification is-info has-text-centered">
            <p class="subtitle">Number of friends</p>
            <p class="title is-3">{{friends}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
