<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="user-login.component.css">
</head>
<body>
<div class="box">
  <form *ngIf="!isLoggedIn" [formGroup]="loginForm">
  <div class="container">
    <div class="top">
      <span>Have an account?</span>
      <header>Login</header>
    </div>
<!--    <div class="input-field">-->
<!--      <input type="text" class="input" placeholder="Username" id="">-->
<!--&lt;!&ndash;      <input #usernameInput [class.is-invalid]= "username?.invalid&ndash;&gt;-->
<!--&lt;!&ndash;                                && username?.touched" formControlName="username"  type="text"   class="form-control">&ndash;&gt;-->
<!--      <div *ngIf ="username?.invalid && username?.touched">-->
<!--        <small *ngIf="username?.errors?.['required']" class ="text-danger"> Username is required</small>-->
<!--        </div>-->
<!--      <i class='bx bx-user' ></i>-->
<!--    </div>-->

    <div class="input-field">
      <input #username type="text" class="input" placeholder="Username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <small *ngIf="loginForm.get('username')?.errors?.['required']" class="text-danger">Username is required</small>
      </div>
      <i class='bx bx-user'></i>
    </div>
<!--    <div class="input-field">-->
<!--      <input type="Password" class="input" placeholder="Password" id="">-->
<!--      <i class='bx bx-lock-alt'></i>-->
<!--    </div>-->
    <div class="input-field">
      <input #password type="password" class="input" placeholder="Password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required</small>
      </div>
      <i class='bx bx-user'></i>
    </div>
    <div class="input-field">
      <input type="submit" class="submit" value="Login" (click)="login(username.value,password.value )">
    </div>
    <div class="two-col">
      <div class="one">
        <input type="checkbox" name="" id="check">
        <label for="check"> Remember Me</label>
      </div>
      <div class="two">
        <label><a href="#">Forgot password?</a></label>
      </div>
    </div>

  </div>
  </form>
  <div class="alert alert-success" *ngIf="isLoggedIn">Logged in succesufully</div>
</div>
</body>

</html>
