<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="user-login.component.css">
</head>
<body>
<div class="box">
  <form *ngIf="!isLoggedIn" [formGroup]="loginForm">
  <div class="container">
    <div class="top">
      <span>Have an account?</span>
      <header>Login</header>
    </div>
    <div class="input-field">
      <input #username type="text" class="input" placeholder="Username" formControlName="username">

      <div  *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
        <small *ngIf="loginForm.get('username')?.errors?.['required']" class="text-danger">Username is required</small>
      </div>
      <i class='bx bx-user'></i>
    </div>
    <div class="input-field">
      <input #password type="password" class="input" placeholder="Password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
        <small *ngIf="loginForm.get('password')?.errors?.['required']" class="text-danger">Password is required</small>
      </div>
      <i class='bx bx-user'></i>
    </div>
    <div class="input-field">
      <input type="submit" class="submit" [disabled]="!loginForm.valid" value="Login" (click)="login(username.value,password.value )">
    </div>
    <div class="two-col">
        <label><a routerLink="/user-registration">Not a member yet? Please sign up</a></label>
    </div>
    <div *ngIf="isLoginFailed" class="login-danger">
      {{ errorMessage }}
    </div>
  </div>
  </form>
</div>

</body>

</html>
